
<!DOCTYPE html>
<html>
<head>
    <title>mLab MongoDB test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h2>Database Results getting Routes </h2>




    <ul>
        <% results.forEach(function(r) { %>
        <li>ORDER_ID:<%=r.ORDER_ID%></li>
        <li>BILLING_ID:<%=r.BILLING_ID%></li>
        <li>SHIPPING_ID:<%=r.SHIPPING_ID%></li>

        <br/> <br/>
        <% }); %>
    </ul>

</div>

</body>
</html>
