
<!DOCTYPE html>
<html>
<head>
    <title>mLab MongoDB test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h4>Order Submitted Successfully. </h4>
<p>Please keep the Order ID for your reference:</p>
<ul>

<li>Order ID:<%=results.CUSTOMER_ID%></li>
<li>Shipping ID:<%=results.SHIPPING_ID%></li>
<li>Billing ID:<%=results.BILLING_ID%></li>
</ul>
<p>Your order will be received in 5-7 working days.</p>

</body>
</html>