
<!DOCTYPE html>
<html>
<head>
    <title>mLab MongoDB test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h4>Order Submitted Successfully: </h4>
<% results.forEach(function(r) { %>
<li><%=r.customerID%></li>
<li><%=r.billingID%></li>
<li><%=r.shippingID%></li>
<br/> <br/>
<% }); %>


</body>
</html>