
<!DOCTYPE html>
<html>
<head>
    <title>mLab MongoDB test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<h4>Order Submitted Successfully: <%=results.Sfirstname%></h4>


</body>
</html>